body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:64px;
  width:1194px;
  height:344px;
}
#u2359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:76px;
  width:85px;
  height:20px;
}
#u2360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:117px;
  width:1169px;
  height:304px;
}
#u2362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u2362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u2363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:0px;
  width:62px;
  height:36px;
}
#u2363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:76px;
  height:36px;
}
#u2364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:0px;
  width:65px;
  height:36px;
}
#u2365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:0px;
  width:60px;
  height:36px;
}
#u2366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:0px;
  width:81px;
  height:36px;
}
#u2367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:0px;
  width:71px;
  height:36px;
}
#u2368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:0px;
  width:74px;
  height:36px;
}
#u2369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:0px;
  width:69px;
  height:36px;
}
#u2370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:0px;
  width:68px;
  height:36px;
}
#u2371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:0px;
  width:76px;
  height:36px;
}
#u2372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:0px;
  width:62px;
  height:36px;
}
#u2373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:0px;
  width:74px;
  height:36px;
}
#u2374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:0px;
  width:73px;
  height:36px;
}
#u2375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:0px;
  width:69px;
  height:36px;
}
#u2376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:0px;
  width:81px;
  height:36px;
}
#u2377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:0px;
  width:70px;
  height:36px;
}
#u2378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:38px;
  height:23px;
}
#u2379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:36px;
  width:62px;
  height:23px;
}
#u2380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:36px;
  width:76px;
  height:23px;
}
#u2381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:36px;
  width:65px;
  height:23px;
}
#u2382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u2383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:36px;
  width:60px;
  height:23px;
}
#u2383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u2384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:36px;
  width:81px;
  height:23px;
}
#u2384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u2385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:36px;
  width:71px;
  height:23px;
}
#u2385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u2386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:36px;
  width:74px;
  height:23px;
}
#u2386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u2387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:36px;
  width:69px;
  height:23px;
}
#u2387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u2388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:36px;
  width:68px;
  height:23px;
}
#u2388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u2389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:36px;
  width:76px;
  height:23px;
}
#u2389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:36px;
  width:62px;
  height:23px;
}
#u2390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u2391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:36px;
  width:74px;
  height:23px;
}
#u2391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u2392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:36px;
  width:73px;
  height:23px;
}
#u2392_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u2393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:36px;
  width:69px;
  height:23px;
}
#u2393_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u2394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:36px;
  width:81px;
  height:23px;
}
#u2394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u2395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:36px;
  width:70px;
  height:23px;
}
#u2395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:38px;
  height:35px;
}
#u2396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:59px;
  width:62px;
  height:35px;
}
#u2397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:59px;
  width:76px;
  height:35px;
}
#u2398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:59px;
  width:65px;
  height:35px;
}
#u2399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u2400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:59px;
  width:60px;
  height:35px;
}
#u2400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:59px;
  width:81px;
  height:35px;
}
#u2401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:59px;
  width:71px;
  height:35px;
}
#u2402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:59px;
  width:74px;
  height:35px;
}
#u2403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:59px;
  width:69px;
  height:35px;
}
#u2404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:59px;
  width:68px;
  height:35px;
}
#u2405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u2406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:59px;
  width:76px;
  height:35px;
}
#u2406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:59px;
  width:62px;
  height:35px;
}
#u2407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:59px;
  width:74px;
  height:35px;
}
#u2408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:59px;
  width:73px;
  height:35px;
}
#u2409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:59px;
  width:69px;
  height:35px;
}
#u2410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:59px;
  width:81px;
  height:35px;
}
#u2411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:59px;
  width:70px;
  height:35px;
}
#u2412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:38px;
  height:35px;
}
#u2413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u2414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:94px;
  width:62px;
  height:35px;
}
#u2414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:94px;
  width:76px;
  height:35px;
}
#u2415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:94px;
  width:65px;
  height:35px;
}
#u2416_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u2417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:94px;
  width:60px;
  height:35px;
}
#u2417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:94px;
  width:81px;
  height:35px;
}
#u2418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:94px;
  width:71px;
  height:35px;
}
#u2419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:94px;
  width:74px;
  height:35px;
}
#u2420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:94px;
  width:69px;
  height:35px;
}
#u2421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:94px;
  width:68px;
  height:35px;
}
#u2422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u2423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:94px;
  width:76px;
  height:35px;
}
#u2423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:94px;
  width:62px;
  height:35px;
}
#u2424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:94px;
  width:74px;
  height:35px;
}
#u2425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:94px;
  width:73px;
  height:35px;
}
#u2426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:94px;
  width:69px;
  height:35px;
}
#u2427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:94px;
  width:81px;
  height:35px;
}
#u2428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:94px;
  width:70px;
  height:35px;
}
#u2429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:38px;
  height:35px;
}
#u2430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u2431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:129px;
  width:62px;
  height:35px;
}
#u2431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:129px;
  width:76px;
  height:35px;
}
#u2432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:129px;
  width:65px;
  height:35px;
}
#u2433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u2434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:129px;
  width:60px;
  height:35px;
}
#u2434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:129px;
  width:81px;
  height:35px;
}
#u2435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:129px;
  width:71px;
  height:35px;
}
#u2436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:129px;
  width:74px;
  height:35px;
}
#u2437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:129px;
  width:69px;
  height:35px;
}
#u2438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:129px;
  width:68px;
  height:35px;
}
#u2439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u2440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:129px;
  width:76px;
  height:35px;
}
#u2440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:129px;
  width:62px;
  height:35px;
}
#u2441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:129px;
  width:74px;
  height:35px;
}
#u2442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:129px;
  width:73px;
  height:35px;
}
#u2443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:129px;
  width:69px;
  height:35px;
}
#u2444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:129px;
  width:81px;
  height:35px;
}
#u2445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:129px;
  width:70px;
  height:35px;
}
#u2446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:38px;
  height:35px;
}
#u2447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u2448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:164px;
  width:62px;
  height:35px;
}
#u2448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:164px;
  width:76px;
  height:35px;
}
#u2449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:164px;
  width:65px;
  height:35px;
}
#u2450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u2451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:164px;
  width:60px;
  height:35px;
}
#u2451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:164px;
  width:81px;
  height:35px;
}
#u2452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:164px;
  width:71px;
  height:35px;
}
#u2453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:164px;
  width:74px;
  height:35px;
}
#u2454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:164px;
  width:69px;
  height:35px;
}
#u2455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:164px;
  width:68px;
  height:35px;
}
#u2456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u2457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:164px;
  width:76px;
  height:35px;
}
#u2457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:164px;
  width:62px;
  height:35px;
}
#u2458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:164px;
  width:74px;
  height:35px;
}
#u2459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:164px;
  width:73px;
  height:35px;
}
#u2460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:164px;
  width:69px;
  height:35px;
}
#u2461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:164px;
  width:81px;
  height:35px;
}
#u2462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:164px;
  width:70px;
  height:35px;
}
#u2463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:199px;
  width:38px;
  height:35px;
}
#u2464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u2465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:199px;
  width:62px;
  height:35px;
}
#u2465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:199px;
  width:76px;
  height:35px;
}
#u2466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:199px;
  width:65px;
  height:35px;
}
#u2467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u2468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:199px;
  width:60px;
  height:35px;
}
#u2468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:199px;
  width:81px;
  height:35px;
}
#u2469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:199px;
  width:71px;
  height:35px;
}
#u2470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:199px;
  width:74px;
  height:35px;
}
#u2471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:199px;
  width:69px;
  height:35px;
}
#u2472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:199px;
  width:68px;
  height:35px;
}
#u2473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u2474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:199px;
  width:76px;
  height:35px;
}
#u2474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:199px;
  width:62px;
  height:35px;
}
#u2475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:199px;
  width:74px;
  height:35px;
}
#u2476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:199px;
  width:73px;
  height:35px;
}
#u2477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:199px;
  width:69px;
  height:35px;
}
#u2478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:199px;
  width:81px;
  height:35px;
}
#u2479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:199px;
  width:70px;
  height:35px;
}
#u2480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:234px;
  width:38px;
  height:35px;
}
#u2481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u2482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:234px;
  width:62px;
  height:35px;
}
#u2482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:234px;
  width:76px;
  height:35px;
}
#u2483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:234px;
  width:65px;
  height:35px;
}
#u2484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u2485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:234px;
  width:60px;
  height:35px;
}
#u2485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:234px;
  width:81px;
  height:35px;
}
#u2486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:234px;
  width:71px;
  height:35px;
}
#u2487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:234px;
  width:74px;
  height:35px;
}
#u2488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:234px;
  width:69px;
  height:35px;
}
#u2489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:234px;
  width:68px;
  height:35px;
}
#u2490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u2491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:234px;
  width:76px;
  height:35px;
}
#u2491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:234px;
  width:62px;
  height:35px;
}
#u2492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:234px;
  width:74px;
  height:35px;
}
#u2493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:234px;
  width:73px;
  height:35px;
}
#u2494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:234px;
  width:69px;
  height:35px;
}
#u2495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:234px;
  width:81px;
  height:35px;
}
#u2496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:234px;
  width:70px;
  height:35px;
}
#u2497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:269px;
  width:38px;
  height:35px;
}
#u2498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u2499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:269px;
  width:62px;
  height:35px;
}
#u2499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:269px;
  width:76px;
  height:35px;
}
#u2500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:269px;
  width:65px;
  height:35px;
}
#u2501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u2502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:269px;
  width:60px;
  height:35px;
}
#u2502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:269px;
  width:81px;
  height:35px;
}
#u2503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:269px;
  width:71px;
  height:35px;
}
#u2504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u2505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:269px;
  width:74px;
  height:35px;
}
#u2505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:269px;
  width:69px;
  height:35px;
}
#u2506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:35px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:269px;
  width:68px;
  height:35px;
}
#u2507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u2508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:269px;
  width:76px;
  height:35px;
}
#u2508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u2509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:269px;
  width:62px;
  height:35px;
}
#u2509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:269px;
  width:74px;
  height:35px;
}
#u2510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u2511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:269px;
  width:73px;
  height:35px;
}
#u2511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:269px;
  width:69px;
  height:35px;
}
#u2512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u2513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:35px;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:269px;
  width:81px;
  height:35px;
}
#u2513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u2514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:269px;
  width:70px;
  height:35px;
}
#u2514_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:117px;
  width:39px;
  height:60px;
}
#u2515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:35px;
  word-wrap:break-word;
}
#u2516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:117px;
  width:61px;
  height:60px;
}
#u2516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  word-wrap:break-word;
}
#u2517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:117px;
  width:354px;
  height:38px;
}
#u2517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:350px;
  word-wrap:break-word;
}
#u2518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:117px;
  width:348px;
  height:38px;
}
#u2518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:344px;
  word-wrap:break-word;
}
#u2519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:117px;
  width:367px;
  height:38px;
}
#u2519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:363px;
  word-wrap:break-word;
}
