body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:844px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:33px;
  width:124px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:120px;
  word-wrap:break-word;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:33px;
  width:124px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:120px;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:33px;
  width:124px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:33px;
  width:124px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:120px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:111px;
  width:16px;
  height:15px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:196px;
  width:16px;
  height:15px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:126px;
  width:0px;
  height:0px;
  color:#000000;
}
#u246_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u246_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:196px;
  width:16px;
  height:15px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:204px;
  width:0px;
  height:0px;
  color:#000000;
}
#u248_seg0 {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:-4px;
  width:220px;
  height:8px;
}
#u248_seg1 {
  border-width:0px;
  position:absolute;
  left:-221px;
  top:-10px;
  width:20px;
  height:20px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:-158px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:281px;
  width:16px;
  height:15px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:211px;
  width:0px;
  height:0px;
  color:#000000;
}
#u250_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u250_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:281px;
  width:16px;
  height:15px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:289px;
  width:0px;
  height:0px;
  color:#000000;
}
#u252_seg0 {
  border-width:0px;
  position:absolute;
  left:-216px;
  top:-4px;
  width:220px;
  height:8px;
}
#u252_seg1 {
  border-width:0px;
  position:absolute;
  left:-221px;
  top:-10px;
  width:20px;
  height:20px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:-158px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:281px;
  width:16px;
  height:15px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:289px;
  width:0px;
  height:0px;
  color:#000000;
}
#u254_seg0 {
  border-width:0px;
  position:absolute;
  left:-215px;
  top:-4px;
  width:219px;
  height:8px;
}
#u254_seg1 {
  border-width:0px;
  position:absolute;
  left:-220px;
  top:-10px;
  width:20px;
  height:20px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:-158px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
