body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:952px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:14px;
  width:969px;
  height:952px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
